@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	background-color: #D4DEE0;
}

input{
	color: #fff;
	font-size: 15px;
}

.container{
	max-width: 600px;
	margin: 50px auto;
}

.header{
	background-color: #FFFFFF;
	padding: 40px;
	margin: 0;
}

.logo img{
	width: 200px;
	margin-bottom: 40px;
}

.header-section h3, h1{
	margin: 0;
	/*font-size: 2em;*/
}

.header-section{
	margin: 0;
}

.description{
	margin-top: 10px;
	margin-bottom: 0;
}

.text-muted{
	color: #808080;
	font-weight: lighter;

}

.form{
	background-color: #1E8BA2;
	padding: 40px;
}

::-webkit-input-placeholder{
	color: #fff;
	font-size: 15px;
}

::-moz-placeholder{
	color: #fff !important;
	font-size: 15px;
}

::-ms-input-placeholder{
	color: #fff;
	font-size: 15px;
}

.input-style > input{
	width: 100%;
	border: 0;
	outline: 0;
	padding: 10px 0;
	background: transparent;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
	font-weight: lighter;
}

.horizontal-input{
	display: flex;	
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.horizontal-input-1{
	flex: 2;
	-webkit-flex: 2;
	margin-right: 40px;
}

.horizontal-input-2{
	flex: 1;
	-webkit-flex: 1;
}

.buttons{
	margin-top: 40px;
	display: flex;
	-webkit-display: flex;
	justify-content: space-between;
}

.back-button{
	font-weight: 600;
	background: #1E8BA2;
	color: #fff;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin-top: 10px;
}

.fa-arrow-left{
	margin-right: 5px;
}

.register-button{
	padding: 15px 35px;
	background-color: #E4F1F4;
	color: #1E8BA2;
	font-weight: bolder;
	cursor: pointer;
	border: 0;
}

@media screen and (max-width: 760px){
	.horizontal-input{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.horizontal-input-1{
		margin-right: 0;
	}

	.form-background{
		max-width: 100%;
	}

	.wrapper{
		max-width: 100%;
	}

	.style > input{
		border-radius: 0;
		-webkit-appearance: none;
	}


	/*.buttons{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.register{
		margin-top: 20px;
	}*/
}

@media screen and (min-width: 768px) and (max-width: 959px){
	.form-background{
		max-width: 100%;
		max-height: 100%;
	}
	.wrapper{
		max-width: 100%;
		max-height: 100%;
	}
}

